@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Feito por Randolfo Carvalho</h2>
</div>

 <div>
      <div>
          <input type="submit" value="Cep"/>
      </div>
    @*Não especificando o controller ele vai para o Controller de mesmo nome*@
    <form asp-action="Edit" method="get">
        <input type="submit" value="Weather" />
    </form>
     
</div>